header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
	left:0;
}

header .global-navbar {
    background: #2f2f39;
    color: #fff;
    font-size: 15px;
    padding: 12px 24px;
}
header .global-navbar .header-logo {
    width: 115px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
p#logout {
    text-align: right;
}
.jumbotron {
    padding: 30px;
    margin-top: 30px;
    color: inherit;
    background-color: #eee;
}